@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">SUCCESS</h1>
	<p>
		You have successfully reached the server where iPlan V5.0 will soon be hosted
	</p>
</div>
